<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bet.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bet.body %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
